<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Valorrank Skill</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../img/favicon.png" />
    <script
      src="https://use.fontawesome.com/releases/v5.15.1/js/all.js"
      crossorigin="anonymous"
    ></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:400,700"
      rel="stylesheet"
      type="text/css"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic"
      rel="stylesheet"
      type="text/css"
    />
    <link href="../../css/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../css/valorrank-styles.css" />
  </head>
  <body id="page-top">
    <!-- Navigation-->
    <nav
      class="navbar navbar-expand-lg bg-valorrank-secondary text-uppercase fixed-top"
      id="mainNav"
    >
      <div class="container">
        <a
          class="navbar-brand js-scroll-trigger font-valorrank text-size-30p"
          href="#page-top"
          ><span class="text-valorrank-primary">Valor</span>rank</a
        >
        <button
          class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-valorrank-primary text-white rounded"
          type="button"
          data-toggle="collapse"
          data-target="#navbarResponsive"
          aria-controls="navbarResponsive"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#features"
                >Features</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#instructions"
                >How to use</a
              >
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a
                class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger"
                href="#try-saying"
                >Try Saying</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- Masthead-->
    <header class="masthead bg-valorrank-primary text-white text-center">
      <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img
          class="masthead-avatar"
          src="../img/logo-valorrank-2.png"
          alt="valorrank-logo"
        />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase text-left text-md-center">
          Welcome to Valorrank
        </h1>
        <!-- Masthead Subheading-->
        <p
          class="masthead-subheading font-weight-light mt-4 text-left text-md-center"
        >
          Learn how to use the skill Valorrank and discover the benefits...
        </p>
      </div>
    </header>
    <!-- Features Section-->
    <section class="page-section portfolio" id="features">
      <div class="container">
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          Features
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-cog"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>
        <div class="row">
          <div class="col-12 mt-2 mt-md-0 col-md-4">
            <div class="card" style="width: auto; height: 22rem">
              <img
                src="../img/division-val.jpg"
                class="card-img-top"
                alt="division-valorant"
              />
              <div class="card-body">
                <h5 class="card-title">Calculate your stats</h5>
                <p class="card-text">
                  Using the skill, you can know the stats of any player in the
                  current or the last match
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2 mt-md-0 col-md-4">
            <div class="card" style="width: auto; height: 22rem">
              <img
                src="../img/valorant-mpv.jpeg"
                class="card-img-top"
                alt="mvp"
              />
              <div class="card-body">
                <h5 class="card-title">MVP</h5>
                <p class="card-text">
                  You can know who is or were the MVP of the current or last
                  match and his stats.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12 mt-2 mt-md-0 col-md-4">
            <div class="card" style="width: auto; height: 22rem">
              <img
                src="../img/valorant-char.png"
                class="card-img-top"
                alt="valorant-characters"
              />
              <div class="card-body">
                <h5 class="card-title">Recommendations and advice</h5>
                <p class="card-text">
                  The skill provided you a character recommendation that you can
                  use for your next match and some advice that how can you play
                  with them.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- How to use Section-->
    <section
      class="page-section bg-valorrank-primary text-white mb-0"
      id="instructions"
    >
      <div class="container">
        <h2 class="page-section-heading text-center text-uppercase text-white">
          How to use
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="fas fa-book"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <img src="../img/instructions-val.png" alt="valorrank-instruction" style="height: 300px;width: 300px;">
          </div>
          <div class="col-12 col-lg-6 d-flex align-items-center">
            <ol>
              <li>Open Valorrank skill</li>
              <li>Go to this link <a href="#">"Building the link..."</a></li>
              <li>Type the user which you want to get the info.</li>
              <li>Listen to the options in your Alexa device and choose one.</li>
            </ol>
          </div>
        </div>

      </div>
    </section>
    <!-- Try saying Section-->
    <section class="page-section" id="try-saying">
      <div class="container">
        <h2
          class="page-section-heading text-center text-uppercase text-secondary mb-0"
        >
          Try saying
        </h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
          <div class="divider-custom-line"></div>
          <div class="divider-custom-icon">
            <i class="far fa-comment-dots"></i>
          </div>
          <div class="divider-custom-line"></div>
        </div>
        <div class="row">
          <div class="col-12 col-lg-6">
            <ul>
              <li>
                <b>"Alexa, open Valorrank skill"</b>
                <br />
                <small>This is the main way to start using the skill.</small>
              </li>
              <li class="mt-2">
                <b>"Give me the mvp of the current ranked."</b> or <b>"Give me the mvp of the last ranked played."</b>
                <br />
                <small>In this option, you can get the MVP for the current or last rank of the requested user on the website, after opening the skill.</small>
              </li>

            </ul>
          </div>
          <div class="col-12 col-lg-6">
            <ul>
              <li>
                <b>"I want a recommendation"</b> or <b>"I want an advice"</b>
                <br />
                <small>In this option, the skill can give you a recommendation for your next rank, after opening the skill.</small>
              </li>
              <li class="mt-2">
                <b>"Calculate the stats"</b>
                <br />
                <small>This option can give you the stats for the current or the last rank played, after opening the skill.</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      </div>
    </section>
    <!-- Copyright Section-->
    <div class="bg-valorrank-primary py-4 text-center text-white">
      <div class="container"><small>Copyright © Valorrank 2021</small></div>
    </div>
    <!-- Scroll to Top Button -->
    <div class="scroll-to-top d-lg-none position-fixed">
      <a
        class="js-scroll-trigger d-block text-center text-white rounded"
        href="#page-top"
        ><i class="fa fa-chevron-up"></i
      ></a>
    </div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="assets/mail/jqBootstrapValidation.js"></script>
    <script src="assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="../../js/scripts.js"></script>
  </body>
</html>
